@use 'assets/styles/variables' as *;

.datos-container {
  font-size: 1.2rem;
}

.section-title {
  font-size: 1.7rem;
}

.datos-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.info-row > p {
  color: var(--color-primary-900);
}

.info-row > strong {
  font-weight: 800;
}

.info-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}
