@use 'assets/styles/variables';
@use 'assets/styles/reset';

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
