@use 'assets/styles/theme' as *;

:host {
  display: block;
}

.horario-layout {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.full-width {
  width: 100%;
}

.filtros-adicionales {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  align-items: end;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
